html * {
  background-color: #111;
  color: #ccc;
  font-family: 'B612 Mono';
  font-size: calc(8px + 0.75vmin);
  line-height: 1.2;
  margin:0; padding:0;
  vertical-align: baseline;
}
html *:focus {
  outline: 2px solid #69c;
}
button, input {
  border: 1px solid #008;
}
header {
  height: 3em;
}
header .title {
  background: #464;
  color: #000;
  padding: 0.5em;
  font-size: 20px;
  font-weight: bold;
  float: left;
}
header .title.false {
  background: #c44
}
header #BigClock {
  font-size: 24px;
  padding: 0.5em 1em;
  float: right;
}
footer {
  font-size: xx-small;
  position: fixed;
  bottom: 0;
  padding: 2px;
}

table {
  text-align: right;
  background: #666;
  border-spacing: 1px;
  margin:2px;
}
table.px-grid * {
  font-size: calc(8px + 0.5vmin);
}
table.px-grid th {
  font-size: calc(5px + 0.5vmin)
}
tbody * {
  padding: 0 3px;
  border: 1px solid #000;
}
table.dmx-grid th {
  font-size: xx-small;
  font-weight: normal;
}
table.ui-grid td {
  width: 6.5vmin;
  max-width: 6.75vmin;
  height: 6vmin;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
table td.focus {
  background-color: #444;
}
table.ui-grid td * {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,128,0,0.35);
  font-weight: normal;
}
table td.focus * {
  background-color: rgba(255,128,0,0.55);
  justify-content: center;
}
table.ui-grid td:hover, 
table.px-grid td:hover, 
table.cue td:hover, 
button:hover, 
button.primary:hover {
  border-color: #aaa;
}
table.px-grid td {
  width: 3.75vmin;
  max-width: 3.75vmin;
  height: 3.5vmin;
  border: 1px solid #666;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.px-grid td * {
  padding: 0;
}
table.dmx-grid td {
  width: 3.5vmin;
  height: 1vmin;
}
table.dmx-grid th {
  background: #555;
  color: #aaa;
  width: 2.5em;
}
table.ui-grid caption {
  background: #666;
  color: #ccc;
  text-transform: uppercase;
  font-size: smaller;
  letter-spacing: 0.75em;
  padding: 0.25em;
}
table.ui-grid {
  float: left;
}
form.command {
  display: block;
  clear: both;
  margin: 1em;
  padding: 1em 1em 0 0em;
}
form.command input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #666;
}
div.status {
  display: block;
  clear: both;
  margin: 1em 1em -1em 1em;
  padding: 1em 1em 0 0em;
}
div.status input {
  width: 100%;
  padding: 0 0.5em;
  margin-bottom: -14px;
}
.slider  {
  width: 26em;
  padding: 0.25em 0.5em;
  border: 1px solid #444;
}
.slider button  {
  width: 20px;
  height: 25px;
  margin-left: 2px;
  mask-repeat: no-repeat;
  mask-position: center;
  border: 1px solid #444;
}
.slider .inc {
  background-color: #aaa;
  mask-image: url('/assets/caret-right.svg');
}
.slider .dec {
  background-color: #aaa;
  mask-image: url('/assets/caret-left.svg');
}
.slider button[class]:hover {
  background-color: #eee;
}
.slider span, .slider label {
  display: inline-block;
  width: 9.25em;
  margin-bottom: -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.slider label {
  background: #444;
}
.toggle {
  border: 1px solid #842;
  padding: 0.7em;
}
.toggle.true {
  background-color: #842;
}

.dmx-grid td[class] { background-color: #444; }
.dmx-grid td[class].white { border-top-color: #ddd; }
.dmx-grid td[class].amber { border-top-color: #FFCC66; }
.dmx-grid td[class].uv    { border-top-color: #9000FF; }
.dmx-grid td[class].green { border-top-color: green; }
.dmx-grid td[class].red   { border-top-color: red; }
.dmx-grid td[class].blue  { border-top-color: #3399ff; }
.dmx-grid td[class].dimmer{ background-color: #666; }
.dmx-grid td[class].from  { border-left-color: #ddd; }

#programmer button {
  padding: 0.5em 0.5em 0.2em 0.5em;
  margin: 2px;
  text-transform: uppercase;
  border-bottom-width: 3px;
}
#programmer button.true,
#programmer button.started {
  border-bottom-color: #c42;
}
.dialog {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 60em;
  margin-left: -30em;
  height: 10em;
  border: 2px solid #842;
}
.dialog p {
  margin: 2em;
}
.dialog .buttons {
  text-align: center;
  position: relative;
  bottom: 0;
}
.buttons button {
  margin: 0 1em;
  padding: 1em 1.5em 0.9em 1.5em;
}
.buttons .primary {
  border-color: #842;
}
.profile {
  float: left;
  white-space: nowrap;
}
.cue {
  display: block;
  clear: both;
}
.cue>* {
  margin: 2px;
}
.cue h3 {
  padding: 3px;
  border-bottom: 1px solid #444;
}
dl.cue dt {
  width: 16em;
  float: left;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
}
dl.cue dt>* {
  display: inline-block;
  border: 1px solid #444;
  margin: 0 2px;
  padding: 2px;
  text-align: right;
}
dl.cue dt span {
  width: 2.5em;
  float: right;
  color: #999;
}
dl.cue dd {
  float: left;
}
dl.cue dd>* {
  display: inline-block;
  background: #842;
  border: 1px solid #842;
  min-width: 2.5em;
  margin: 0 2px;
  padding: 2px;
  text-align: right;
}
.cue dd>*:hover, .cue dt>*:hover {
  border-color: #ccc;
}
table.cue {
  float: left;
}
table.cue th {
  text-align: left;
}
table.cue tbody th {
  font-weight: normal;
}
table.cue th span {
  float: right;
  font-size: x-small;
}
table.cue tbody th {
  width: 16em
}
table.cue tbody td {
  width: 2.5em;
  background: #842;
}
table.cue tbody td:empty {
  background: #222;
}
table.cue tbody td b {
  position: relative;
  width: 100%;
}
table.cue tr>* {
  padding: 1px 4px;
}
table.cue thead * {
  background: #444;
  color: #aaa;
}
.profile div:first-child {
  background: #444;
  padding: 0.25em 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}